@use '@/styles/mixins/typography';
@use '@/styles/constants/colors';

.rooms {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.room {
  padding: 12px;
  border: 1px solid colors.$GS_BORDER;
  border-radius: 8px;
}

.users {
  @include typography.content3;
  @include typography.lineClamp(1, 18px);
}

.lastMessage {
  @include typography.content4;
  @include typography.lineClamp(2, 32px);
  margin-top: 8px;
  color: colors.$GS_CONTENT_2;
}
