@use '@/styles/mixins/typography';
@use '@/styles/constants/colors';

.rooms {
  @include typography.content3;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.room {
  padding: 12px;
  border: 1px solid colors.$GS_BORDER;
  border-radius: 8px;
}
