@use '@/styles/mixins/typography';
@use '@/styles/constants/colors';

.users {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid colors.$GS_BORDER;
  border-radius: 8px;
}

.user {
  @include typography.content3;
  padding: 12px;
  cursor: pointer;

  &:hover {
    background-color: colors.$B_BG;
  }
}
