@use '@/styles/constants/colors';
@use '@/styles/mixins/typography';

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  @include typography.content3;
  height: 42px;
  padding: 0 12px;
  background-color: colors.$WHITE;
  border: 1px solid colors.$GS_BORDER;
  border-radius: 8px;
  transition: 200ms;

  &:hover {
    border-color: colors.$GS_CONTENT_3;
  }

  &:focus {
    border-color: colors.$B_BASE;
    box-shadow: colors.$FS_BLUE;
  }

  &.error {
    border-color: colors.$R_BASE;
    box-shadow: colors.$FS_RED;
  }
}

.title {
  @include typography.content2;

  & .required {
    margin-left: 4px;
    color: colors.$R_BASE;
  }
}

.description {
  @include typography.content3;
  color: colors.$GS_CONTENT_3;
}
