@use '/src/styles/constants/colors';

.button {
  border-radius: 8px;
  transition: 200ms;

  &:disabled {
    opacity: 0.5;
  }
}

.blue {
  color: colors.$WHITE;
  background-color: colors.$B_BASE;
  box-shadow: colors.$DS_2;

  &:hover {
    background-color: colors.$B_HOVER;
  }
}

.red {
  color: colors.$WHITE;
  background-color: colors.$R_BASE;
  box-shadow: colors.$DS_2;

  &:hover {
    background-color: colors.$R_HOVER;
  }
}

.white {
  color: colors.$GS_CONTENT_1;
  background-color: colors.$GS_BG_PRIMARY;
  border: 1px solid colors.$GS_BORDER;
  box-shadow: colors.$DS_1;

  &:hover {
    background-color: colors.$GS_BG_SECONDARY;
  }
}

.medium {
  height: 40px;
  padding: 0 12px;
  font-size: 14px;
}

.small {
  height: 28px;
  padding: 0 8px;
  font-size: 12px;
}
