@use '@/styles/constants/colors';

.main {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 12px;
  height: 100%;
}

.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.content {
  position: relative;
  height: 100%;
}

.userList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid colors.$GS_BORDER;
  border-radius: 8px;
}
